.vscode/
Makefile
config.h
config.log
config.status
docs/Doxyfile
docs/Makefile
docs/doxyfile.stamp
docs/html/
docs/images/Makefile
gtkmm-plplot-2.0.pc
gtkmm-plplot.spec
gtkmm-plplot/.deps/
gtkmm-plplot/.libs/
gtkmm-plplot/Makefile
gtkmm-plplot/gtkmm-plplotconfig.h
gtkmm-plplot/libgtkmm-plplot-2.0.la
gtkmm-plplot/libgtkmm_plplot_2.0_la-canvas.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-legend.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plot.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plot2d.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plot3d.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotcontour.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotcontourshades.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdata.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdata2d.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdata2derrorx.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdata2derrorxy.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdata2derrory.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdata3d.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdatahistogram.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdatahistogrambinned.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdatahistogramunbinned.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdataline.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdatapolar.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotdatasurface.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plothistogram.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotobject.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotobject2d.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotobject2dline.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotobject2dtext.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-plotpolar.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-regionselection.lo
gtkmm-plplot/libgtkmm_plplot_2.0_la-utils.lo
gtkmm-plplot/stamp-h2
libtool
stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/test1
tests/test10
tests/test11
tests/test12
tests/test2
tests/test3
tests/test4
tests/test5
tests/test6
tests/test7
tests/test8
tests/test9

*.mod
*.o
*.a
*.so
*.dylib
Makefile.in
config.h.in
configure
build
aclocal.m4
autom4te.cache
build-aux
*.swp
*~
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
build2
.DS_Store
*.app
*.zip
gh-pages
.tags*
.stdafx.c++.pch
